#show-detail {
  display: none;
}

body {
  background-color: #f9f5de;
}

.jumbotron {
  text-align: center;
  color: #f9f5de;
  background-color: #db0d10;
}

h2 {
  font-size: 100px;
}

.row {
  border: 5px solid #db0d10;
}

h3 {
  text-align: center;
}
 p {
   font-weight: bold;
 }
